<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
<style>
	*{
		margin:0px;
		padding:0px;
	}	
	#contents_wrapper{
		margin:0 150px;
		padding:100px 0;	
		/*background:#e9e9e9;*/
		width:auto;
	}
	#contents_wrapper h1{
		font-family: 'Nanum Myeongjo';
		margin:0 50px;
	}
	#contents_wrapper .projects{
		padding:50px 0;
		background:#aaa; 
		text-align: center;
	}
	#contents_wrapper a.project_container{
		font-family:awe;
		color:black;
		text-decoration: none;
		display:inline-block;
		height:300px;
		width:260px;
		padding:49px 19px;
		border:1px solid blue;
	}
	#contents_wrapper .project_logo{
		margin-bottom:50px;
		display:inline-block;
		width:150px;
		height:150px;
		background-image:url(../img/angularjs_150x150.png);
	}
</style>
<div id="contents_wrapper">

	<h1>Projects</h1>
	<div class="projects">
		<a class="project_container" href="../projects/ngRookie/editor.html">
			<div class="project_logo"></div>
			<div class="project_title" style="font-size:24px">ngRookie</div>
			<p> 아아아아아ㅏㅇ아아아아아ㅏ아아아아ㅏ ㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎ ㅎㅎㅎㅎㅎㅎ ㅎㅎ ㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎ</p>
		</a>
	</div>

</div><!--contents wrapper-->