<div id="contents_wrapper">

  <div class="projects_wrapper">
		<h1>Projects</h1>
		<div class="projects">
			<a class="project_container" href="projects/ngRookie/editor.html">
				<div class="project_logo"></div>
				<div class="project_title" style="font-size:24px">ngRookie</div>
				<p> AngularJS를 시작해봐요.</p>
			</a>
			<a class="project_container" href="projects/ngRookie/editor.html">
        <div class="project_logo"></div>
        <div class="project_title" style="font-size:24px">xxx</div>
        <p> AngularJS를 시작해봐요.</p>
      </a>
      <a class="project_container" href="projects/ngRookie/editor.html">
        <div class="project_logo"></div>
        <div class="project_title" style="font-size:24px">xxx</div>
        <p> AngularJS를 시작해봐요.</p>
      </a>
		</div><!-- projects -->
  </div><!-- project_wrapper -->

</div><!--contents wrapper-->