<html>
<head>
	<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
	<script src="ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="modaltest.js"></script>
  	<link rel="stylesheet" 
  	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-app="modalapp">
	<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I am a modal!</h3>
            
        </div>
        <div class="modal-body" style="height: 300px;">
            <div>
            	<div ng-controller="ButtonsCtrl">
   
				    
				    <h4>Restrict : </h4>
				    <div class="btn-group">

				    <label class="btn btn-primary" ng-model="checkModel.ele" btn-checkbox>Element</label>
				    <label class="btn btn-primary" ng-model="checkModel.atr" btn-checkbox>Attribute</label>
				    <label class="btn btn-primary" ng-model="checkModel.cmt" btn-checkbox>comment</label>
				    <label class="btn btn-primary" ng-model="checkModel.cls" btn-checkbox>class</label>
				    </div>
				</div>

            </div>	


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
</div>




</body>

</html>