*{
	margin:0;
	padding:0;
}
body{
	overflow-x:hidden;
}
h2.large-title{
	font-size:3.7em;
	font-weight:900;
	letter-spacing:-2.5px;
}
h4.small-title{
	font-size:2.5em;
	font-weight:900;
	letter-spacing:-2px;
}
p.large-paragraph{
	font-size:1.7em;
}
p.small-paragraph{
	font-size:1.2em;
}

.fixed{
	position:fixed;
}

.button{
	color:rgb(230,230,230);
	font-size:1em;
	padding:10px 20px;
	border:1px solid rgb(230,230,230);
	border-radius:6px;
	background:rgba(230,230,230,0);
}
.button:hover{
	text-decoration: none;
	color:rgb(0,0,0);
	background:rgba(230,230,230,1);
}

.button.button-2x{
	font-size:1.5em;
	padding:20px;
	letter-spacing: 2px;
}

#transparency-cover{
	z-index:-1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#00f;
	opacity:0;
	-webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#transparency-cover.opened{
	z-index:50;
	left:300px;
	opacity:0.5;
}

#menu-wrap{
	overflow:hidden;
	background:black;
	width:0;
	height:100%;
	-webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#menu-wrap.opened{
	width:300px;
}

#header{
	overflow:hidden;
  top:0;
  left:0;
  width:100%;
  padding:30px 0px;
  height:485px;
  background:rgba(46,46,46,1);
  border-bottom:1px solid rgb(20,20,20);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#header.inactive{
	height:0px;
	padding:0;
}
#header>.info{
  margin:0 50px;
  padding-bottom: 10px;
  text-align:center;
}
#header>.info>.info-logo{
  display:block;
  margin:0 auto;
  height:200px;
  width:559px;
  background-image:url(../img/logo/logo_big.png);
}
#header>.info h1{
  margin:0 auto 30px;
  padding:30px 0;
  color:rgb(230,230,230);
  display:block;
}
#header>.info>.button{
  letter-spacing:1px;
}
#header>.info>.button>span{
  padding-top:30px !important;
}
#header>.info>p.info-version{
  margin-top:25px;
  color:rgb(100,100,100);
}

#topnav{
  border-top:1px solid rgb(70,70,70);
  height:50px;
  width:100%;
  background:rgba(46,46,46,1);
}
#topnav>.navigation-bar{
  height:100%
}
#topnav>.navigation-bar>a.button-navi{
  display:inline-block;
  padding:13px 30px 0;
  height:50px;
  font-size:1.1em;
  color:rgb(230,230,230);
}
#topnav>.navigation-bar>a.button-bookmark{
  border-radius:100px;	
  padding:12px 12px 9px 10px;
}
#topnav>.navigation-bar>a.button-bookmark>span{
  margin:0;
}
#topnav>.navigation-bar>a:hover{
  text-decoration:none;
  background:rgb(60,150,230)
}

#contents{
  position:relative;
  top:0;
  left:0;
  text-align:center;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#contents.opened{
  left:300px;
}

#template-wrap{
  width:800px;
  margin:50px auto 0;
}


.remocon{
	z-index:100;
	text-align:center;
	padding:30px 20px;
	background:rgba(150,150,150,0.7);
	right:5%;
	bottom:30%;
	color:black;
}
.remocon>div{
	border:1px solid;
	padding:2px;
}
.remocon>div:hover{
	color:rgb(0,0,200);
}

