/* 너비 1024 ~  */
@media(min-width : 1024px){
	#contents_wrapper{
		margin:0 auto;
		padding:50px 0;	
		width:1000px;
	}
}
/* 너비 768 ~ 1023 */
@media(min-width : 768px) and (max-width: 1023px){
	#contents_wrapper{
		margin:0 70px;
		padding:50px 0;	
		width:auto;
	}
}
/* 너비 ? ~ 767*/
@media (max-width:767px){

}
	#contents_wrapper h1{
		margin:0 50px;
	}
	#contents_wrapper .projects{
		padding:50px 0;
		background:#e9e9e9; 
		text-align: center;
	}
	#contents_wrapper a.project_container{
		color:black;
		text-decoration: none;
		display:inline-block;
		height:400px;
		width:300px;
		padding:49px 19px;
		border:1px solid #444444;
	}
	#contents_wrapper .project_logo{
		margin-bottom:50px;
		display:inline-block;
		width:150px;
		height:150px;
		background-image:url(../img/angularjs_150x150.png);
	}