<div class="settings-content-div">
<label>Editor Theme</label> 
  <select id="themeSelectBox" class="selectbar form-control" ng-model="theme" ng-options="to.name for to in themeOptions">
  </select>
  <br>
        
  <div>
    <label>Font Size</label><br>  
    <div style="padding-left: 20px;">
      <button id="minusfs" type="button" class="btn btn-default btn-xs" ng-click="fontSize = fontSize - 1;">&nbsp;<i class="glyphicon glyphicon-minus"></i>&nbsp;</button>
      <input id="fsInput" ng-model="fontSize" maxlength="3">
      <button id="plusfs" type="button" class="btn btn-default btn-xs" ng-click="fontSize = fontSize + 1;">&nbsp;<i class="glyphicon glyphicon-plus"></i>&nbsp;</button>
    </div>  
  </div>
  <br>
  <br>
  
  <div>
  <label ng-init="ng=true">AngularJS</label><br>  
    <div class="lib-div">
      Angular  
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="ng">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>
    <div class="lib-div">
      ngAnimate  
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="ngani" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>
    <div class="lib-div">
      ngRoute  
      <div class="sw-div">
        <label class="switch switch-green">
          <input type="checkbox" class="switch-input" ng-model="ngrt" ng-change="update()">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>
  </div>
  
  <br>
  
  <div>
    <label>Librarys</label><br>  
    <div class="lib-div">
    JQuery
      <div class="sw-div" ng-init="jq = false">
      <label class="switch switch-green">
        <input type="checkbox" class="switch-input" ng-model="jq" ng-change="update()">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label> 
      </div>
    </div>
    
    <div class="lib-div">
      JQuery UI
      <div class="sw-div">
      <label class="switch switch-green">
        <input type="checkbox" class="switch-input" ng-model="jqui">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label> 
      </div>
    </div>
    
   
  </div>
  
  <br>
  
  <div>
  <label>CSS</label><br>  
     <div class="lib-div">
      Bootstrap
      <div class="sw-div" ng-init="bs = false">
      <label class="switch switch-green">
        <input type="checkbox" class="switch-input" ng-model="bs">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
      </div>
    </div>
  </div>

  <br>
  
  <div>
  <label>Angular Component</label><br>  
    <div class="lib-div">
      UI-Bootstrap
      <div class="sw-div">
      <label class="switch switch-green">
        <input type="checkbox" class="switch-input" ng-model="ub">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
      </div>
    </div>  
    <div class="lib-div">
      AngularStrap
      <div class="sw-div">
      <label class="switch switch-green">
        <input type="checkbox" class="switch-input" ng-model="as">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
      </div>
    </div>  
  </div>
  <br>
  <div>
  <label ng-init="je=true">Other Editor</label><br>  
    <div>
      JavaScript
      <div class="sw-div">
      <label class="switch switch-blue">
        <input type="checkbox" class="switch-input" ng-model="je">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
      </div>
    </div>
  </div>
  
</div>
